.settings
build
target
*/target
*/*/target
gen
*/gen
*/*/gen
bin
*/bin
*/*/bin
classes
.DS_Store
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
